.App {
  text-align: center;
}

.Header{
  background: #529872;
  color: white;
  display: flex;
  height: 75px;
  width: 100%;
  
}


.houseicon{
  height: 34;
  width: 28;
  position: absolute;
  top: 23px;
  left: 28%;
}

.housertitle{
  position: absolute;
  left:31%;
  
  top: 0rem;
}

.Dashboard{
  background:#AED4C0;
  display: flex;
  justify-content: space-around;
}
.Wizard{
  background:#AED4C0;
  display: flex;
  justify-content: space-around;
}

.dashboardcontainer{
  background: #E6F4ED;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.wizardcontainer{
  background: #E6F4ED;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.houseimage{
  height: 100%;
  display: flex;
  align-items: center;
  width: 33%;
  padding-left: 5px;
}

.firstinfo{
  height: 90%;
  width: 33%;
}
.secondinfo{
  height: 90%;
  position: relative;
  width: 33%;
  
}

.actualhouseimage{
  height: 90%;
  width: 100px;
}

.dashboardtitle{
  font-size: 35px;
  margin: 0;
}

.addnewhouse{
  background: #8AEA92;
  border: none;
  height: 35px;
  font-size: 14px;
  font-weight: bold;
}
.cancelbutton{
  margin: 20px;
  border: none;
  padding: 7px;
  font-size: 15px;
  font-weight: 700;
  background-color: #fec2c2;
}

.dashboardminicontainer{
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: black solid 1px;
  margin-top: 10px;
  padding-bottom: 10px;
}
.wizardminicontainer{
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin-top: 10px;
  padding-bottom: 10px;
}
.homelisting{
  margin-top: 0px;
  margin-bottom: 10px;
  width: 95%;
  display: flex;
  justify-content: flex-start;
  padding-left: 1rem;
}
.House {
  background:#DEDEDE;
  width: 95%;
  display: flex;
  text-align: left;
  height: 150px;
  justify-content: space-around;
  font-size: small;
}

.x{
  position: absolute;
  top: 5px;
  right: 5px;
}
